<% @page_title = t('page_action.index', name: Position.model_name.human) %>
<h1><%= @page_title %></h1>

<button type="button"><%= link_to t('page_action.index', name: Position.model_name.human), :new_position %></button>

<table>
  <tr>
    <th><%= t('.position') %></th>
  </tr>
<% @positions.each do |position| %>
  <tr>
    <td><%= link_to position.position_name, position %></td>
  </tr>
<% end %>
</table>
