<% @page_title = "ポジション"%>
<h1><%= @page_title %></h1>

<table>
  <tr>
    <th>ポジション</th>
    <td><%= @position.position_name %></td>
  </tr>
</table>


<button type="button"><%= link_to "ポジション一覧", :positions %></button>
<button type="button"><%= link_to "編集", :edit_position %></button>
