<% @page_title = "記事一覧" %>
<h1><% @page_title %></h1>

<%= link_to "新規投稿", :new_article %>

<table>
  <tr>
    <th>タイトル</th>
    <th>本文</th>
    <th>掲載開始日</th>
    <th>掲載終了日</th>
    <th>会員公開</th>
  </tr>
  <tr>
    <td>タイトル</td>
    <td>本文</td>
    <td>掲載開始日</td>
    <td>掲載終了日</td>
    <td>会員公開</td>
  </tr>
</table>
