<% @page_title = "カンファレンス一覧" %>
<h2><%= @page_title %></h2>

<button type="button"><%= link_to "新規登録", :new_conference %></button>

<table>
  <tr>
    <th>カンファレンス</th>
    <th>ディビジョン数</th>
    <th>チーム数</th>
  </tr>
<% @conferences.each do |conference| %>
  <tr>
    <td><%= link_to conference.conference_name, conference %></td>
  </tr>
</table>
<% end %>
