@import "./articles";
@import "bootstrap"; 

* {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

header {
  width: auto;
  height: 80px;
  background-color: #1C428A;
  font-weight: bold;
  width: 98%;
  margin: auto;
}

#header {
  float: left;
  margin: auto;
  padding: 5px;
  width: 95%;

}

#header div {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

#header a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  text-align: center;
}

.right_menu {
  float: right;
}
