// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-index table {
  margin: 0 auto;
}



.team-info {
  margin-left: 30px;
  padding: 20px;
}

.team-player {
  margin-left: 30px;
  padding: 20px;
}

table{
  border-collapse:collapse;
}
td,th{
  padding:10px;
}
th{
  color:#fff;
  background:#005ab3;
}
table tr:nth-child(odd){
  background:#e6f2ff;
}
td{
  border-bottom:2px solid #80bcff;
}
