/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

#conference_name {
  margin-top: 20px;
}


#division_name {
  margin: 10px 15px 0 15px;
}

.team-index table {
  margin-left: 15px;
}

.team-index th {
  text-align: center;
}

#team-name {
  width: 200px;
}

#establishment {
  width: 100px;
  text-align: center;
}

#home-court {
  width: 200px;
}

#owner {
  width: 200px;
}

#current-player-number {
  width: 100px;
  text-align: center;
}


.team-info {
  margin-left: 30px;
  padding: 20px;
}

.schedule {
  margin-left: 30px;
  padding: 20px;
}

.team-player {
  margin-left: 30px;
  padding: 20px;
}
