
#news_topics {
  float: left;
}

#news_topics div {
  width: 45%;
  float: left;
}

.news  {
  display: block;
}

.news_title {
  float: left;
}

.news_release {
  float: right;
}

#blog_topics {
  width: 45%;
  float: left;
}

.blog {
  display: block;
}
